In [1]:
import pandas as pd

print(pd.__version__)

2.2.3

In [2]:
#1. Створіть функцію, яка приймає список словників, створює DataFrame і додає рядки з середніми значеннями для кожного показника. 
# Нові рядки повинні називатися middle_value_balance, middle_value_credit_rating і middle_value_loan."

clients_data = [
{'client_name': 'Іван', 'balance': 15000, 'credit_rating': 750, 'loan': 5000},
{'client_name': 'Марія', 'balance': 22000, 'credit_rating': 780, 'loan': 8000},
{'client_name': 'Олексій', 'balance': 13000, 'credit_rating': 690, 'loan': 7000},
{'client_name': 'Олена', 'balance': 19000, 'credit_rating': 720, 'loan': 6500}
]

def task_1(clients_data):
    df = pd.DataFrame(clients_data)
    df.loc[len(df)] = ['middle_value_balance', df['balance'].mean(), pd.NA, pd.NA]
    df.loc[len(df)] = ['middle_value_credit_rating', pd.NA, df['credit_rating'].mean(), pd.NA]
    df.loc[len(df)] = ['middle_value_loan', pd.NA, pd.NA, df['loan'].mean()]
    return df
    # return dataframe

print(task_1(clients_data))

                  client_name  balance credit_rating    loan
0                        Іван  15000.0           750    5000
1                       Марія  22000.0           780    8000
2                     Олексій  13000.0           690    7000
3                       Олена  19000.0           720    6500
4        middle_value_balance  17250.0          <NA>    <NA>
5  middle_value_credit_rating      NaN         735.0     NaN
6           middle_value_loan      NaN           NaN  6625.0

/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3615/1115214212.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df)] = ['middle_value_credit_rating', pd.NA, df['credit_rating'].mean(), pd.NA]
/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3615/1115214212.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df)] = ['middle_value_loan', pd.NA, pd.NA, df['loan'].mean()]

In [3]:
#2. Створіть функцію, яка приймає список словників, створює DataFrame і відсортуйте клієнтів за значенням credit_score у порядку спадання 
# та записує результат у новий стовпець sort_credit_score.

clients_info = [
    {'customer_name': 'Андрій', 'savings': 50000, 'credit_score': 710, 'loan_amount': 20000},
    {'customer_name': 'Вікторія', 'savings': 34000, 'credit_score': 800, 'loan_amount': 12000},
    {'customer_name': 'Дмитро', 'savings': 18000, 'credit_score': 680, 'loan_amount': 9000},
    {'customer_name': 'Наталія', 'savings': 29000, 'credit_score': 760, 'loan_amount': 11000},
    {'customer_name': 'Олександра', 'savings': 22000, 'credit_score': 740, 'loan_amount': 10500},
    {'customer_name': 'Ірина', 'savings': 31000, 'credit_score': 790, 'loan_amount': 13000}
]

def task_2(clients_info):
    df = pd.DataFrame(clients_info)
    df = df.sort_values(by="credit_score", ascending=False)
    df['sort_credit_score'] = df['credit_score']
    return df['sort_credit_score']
    # return dataframe

print(task_2(clients_info))

1    800
5    790
3    760
4    740
0    710
2    680
Name: sort_credit_score, dtype: int64

In [4]:
#3. Створіть функцію, яка приймає список словників, створює DataFrame, відсортовує клієнтів за значенням balance у порядку зростання 
# та записує результат у новий стовпець sort_balance.

client_records = [
    {'client_name': 'Олексій', 'balance': 52000, 'credit_rating': 790, 'mortgage_amount': 20000},
    {'client_name': 'Марина', 'balance': 28000, 'credit_rating': 750, 'mortgage_amount': 15000},
    {'client_name': 'Іван', 'balance': 45000, 'credit_rating': 760, 'mortgage_amount': 17000},
    {'client_name': 'Наталя', 'balance': 33000, 'credit_rating': 720, 'mortgage_amount': 14000},
    {'client_name': 'Сергій', 'balance': 40000, 'credit_rating': 780, 'mortgage_amount': 16000},
    {'client_name': 'Тетяна', 'balance': 47000, 'credit_rating': 800, 'mortgage_amount': 19000}
]

def task_3(client_records):
    df = pd.DataFrame(client_records)
    df_sorted = df.sort_values(by="balance")
    df_sorted['sort_balance'] = df_sorted['balance']
    return df_sorted['sort_balance']
    # return dataframe

print(task_3(client_records))

1    28000
3    33000
4    40000
2    45000
5    47000
0    52000
Name: sort_balance, dtype: int64

In [5]:
#4. Створіть функцію, яка приймає список словників, створює DataFrame, відсортовує і повертає всі значення колонки name.
# чому І перед А??

#Якщо просто використовувати функцію без locale імена на літеру І встановлюються на перше місце
# тому шукала інша варіанти як сортувати за алфавітом правильно

import locale
locale.setlocale(locale.LC_COLLATE, 'uk_UA.UTF-8')

employee_data = [
    {'name': 'Андрій', 'salary': 50000, 'department': 'IT'},
    {'name': 'Ірина', 'salary': 60000, 'department': 'HR'},
    {'name': 'Дмитро', 'salary': 70000, 'department': 'Finance'},
    {'name': 'Іван', 'salary': 80000, 'department': 'Marketing'},
    {'name': 'Інна', 'salary': 55000, 'department': 'IT'},
    {'name': 'Надія', 'salary': 75000, 'department': 'Finance'}
]


def locale_sort(s):
    return locale.strxfrm(s)

def task_4(employee_data):
    df = pd.DataFrame(employee_data)
    df_sorted = df.sort_values(by='name', key=lambda x: x.map(locale_sort))
    return df_sorted

print(task_4(employee_data))

#def sort_name(employee_name):
   # ukrainian_alphabet = 'АБВГҐДЕЄЖЗИІЙКЛМНОПРСТУФХЦЧШЩЬЮЯ'
   # return [ukrainian_alphabet.index(c) for c in employee_name]

#def task_4(employee_data):
    #df = pd.DataFrame(employee_data)
    #df_names = df.sort_values(by='name')
   # df_names =  df.sort_values(by='name', key=lambda x: x.map(sort_name))
    #return df_names['name']
    # return dataframe

#print(task_4(employee_data))

     name  salary department
3    Іван   80000  Marketing
4    Інна   55000         IT
1   Ірина   60000         HR
5   Надія   75000    Finance
0  Андрій   50000         IT
2  Дмитро   70000    Finance

In [6]:
#5. Створіть функцію, яка приймає список словників, створює DataFrame і повертає значення колонок credit_score та loan_amount

customer_info = [
    {'full_name': 'Богдан', 'account_balance': 35000, 'credit_score': 720, 'loan_amount': 15000},
    {'full_name': 'Катерина', 'account_balance': 42000, 'credit_score': 810, 'loan_amount': 14000},
    {'full_name': 'Михайло', 'account_balance': 29000, 'credit_score': 700, 'loan_amount': 9000},
    {'full_name': 'Ольга', 'account_balance': 36000, 'credit_score': 750, 'loan_amount': 8500},
    {'full_name': 'Петро', 'account_balance': 40000, 'credit_score': 730, 'loan_amount': 9200},
    {'full_name': 'Софія', 'account_balance': 45000, 'credit_score': 780, 'loan_amount': 12500}
]

def task_5(customer_info):
    df = pd.DataFrame(customer_info)
    return df[['credit_score', 'loan_amount']]
    # return dataframe

print(task_5(customer_info))

   credit_score  loan_amount
0           720        15000
1           810        14000
2           700         9000
3           750         8500
4           730         9200
5           780        12500

In [7]:
#6 Створіть функцію, яка приймає список словників, створює DataFrame і за допомогою df.loc повертає значення student та english

student_grades = [
    {'student': 'Олег', 'math': 85, 'science': 90, 'english': 78},
    {'student': 'Юлія', 'math': 92, 'science': 88, 'english': 84},
    {'student': 'Сергій', 'math': 75, 'science': 80, 'english': 70},
    {'student': 'Оксана', 'math': 89, 'science': 95, 'english': 88},
    {'student': 'Денис', 'math': 82, 'science': 78, 'english': 80},
    {'student': 'Аліна', 'math': 90, 'science': 92, 'english': 85}
]

def task_6(student_grades):
    df = pd.DataFrame(student_grades)
    return  df.loc[:, ['student', 'english']] 
    # return dataframe


print(task_6(student_grades))

  student  english
0    Олег       78
1    Юлія       84
2  Сергій       70
3  Оксана       88
4   Денис       80
5   Аліна       85

In [8]:
#7. Створіть функцію, яка приймає список словників, створює DataFrame і повертає дані постачальників, у яких total_sales більше ніж 25000.

supplier_data = [
    {'supplier_name': 'Компанія А', 'total_sales': 27000, 'rating': 4.5},
    {'supplier_name': 'Компанія Б', 'total_sales': 32000, 'rating': 4.8},
    {'supplier_name': 'Компанія В', 'total_sales': 15000, 'rating': 4.2},
    {'supplier_name': 'Компанія Г', 'total_sales': 23000, 'rating': 4.6},
    {'supplier_name': 'Компанія Д', 'total_sales': 20000, 'rating': 4.3},
    {'supplier_name': 'Компанія Е', 'total_sales': 31000, 'rating': 4.7}
]

def task_7(supplier_data):
    df = pd.DataFrame(supplier_data)
    return df[df['total_sales'] > 25000]
    # return dataframe

print(task_7(supplier_data))

  supplier_name  total_sales  rating
0    Компанія А        27000     4.5
1    Компанія Б        32000     4.8
5    Компанія Е        31000     4.7

In [9]:
#8. Створіть функцію, яка приймає список словників, створює DataFrame і повертає дані клієнтів, 
# у яких savings_balance більше ніж 40000 та credit_rating більше ніж 750.

customers_data = [
    {'customer_name': 'Олексій', 'savings_balance': 52000, 'credit_rating': 790, 'mortgage_amount': 20000},
    {'customer_name': 'Марина', 'savings_balance': 28000, 'credit_rating': 750, 'mortgage_amount': 15000},
    {'customer_name': 'Іван', 'savings_balance': 45000, 'credit_rating': 760, 'mortgage_amount': 17000},
    {'customer_name': 'Наталя', 'savings_balance': 33000, 'credit_rating': 720, 'mortgage_amount': 14000},
    {'customer_name': 'Сергій', 'savings_balance': 40000, 'credit_rating': 780, 'mortgage_amount': 16000},
    {'customer_name': 'Тетяна', 'savings_balance': 47000, 'credit_rating': 800, 'mortgage_amount': 19000}
]

def task_8(customers_data):
    df = pd.DataFrame(customers_data)
    return df[(df['savings_balance'] > 40000) & (df['credit_rating'] > 750)]
    # return dataframe


print(task_8(customers_data))

  customer_name  savings_balance  credit_rating  mortgage_amount
0       Олексій            52000            790            20000
2          Іван            45000            760            17000
5        Тетяна            47000            800            19000

In [10]:
#9. Створіть функцію, яка приймає список словників, створює DataFrame, змінює значення у стовпці status з pending на approved,
#  і повертає оновлений DataFrame.

loan_applications = [
    {'application_id': 201, 'applicant': 'Андрій', 'amount': 50000, 'status': 'pending'},
    {'application_id': 202, 'applicant': 'Вікторія', 'amount': 30000, 'status': 'approved'},
    {'application_id': 203, 'applicant': 'Дмитро', 'amount': 40000, 'status': 'rejected'},
    {'application_id': 204, 'applicant': 'Наталія', 'amount': 60000, 'status': 'pending'},
    {'application_id': 205, 'applicant': 'Олександра', 'amount': 35000, 'status': 'approved'},
    {'application_id': 206, 'applicant': 'Ірина', 'amount': 45000, 'status': 'pending'}
]

def task_9(loan_applications):
    df = pd.DataFrame(loan_applications)
    df_updated = df.loc[df['status'] == 'pending', 'status'] = 'approved'
    return df
    # return dataframe


print(task_9(loan_applications))

   application_id   applicant  amount    status
0             201      Андрій   50000  approved
1             202    Вікторія   30000  approved
2             203      Дмитро   40000  rejected
3             204     Наталія   60000  approved
4             205  Олександра   35000  approved
5             206       Ірина   45000  approved

In [11]:
#10 Створіть функцію, яка приймає два аргументи, створює DataFrame, 
# додає новий рядок з даними нового клієнта (bank_clients2) до bank_clients і повертає оновлений DataFrame


bank_clients = [
    {'client_id': 1035226412, 'name': 'Юрій', 'balance': 15000, 'loan_status': 'approved'},
    {'client_id': 1035226413, 'name': 'Лариса', 'balance': 25000, 'loan_status': 'pending'},
    {'client_id': 1035226414, 'name': 'Ігор', 'balance': 20000, 'loan_status': 'approved'},
    {'client_id': 1035226415, 'name': 'Олена', 'balance': 18000, 'loan_status': 'rejected'},
    {'client_id': 1035226416, 'name': 'Микола', 'balance': 22000, 'loan_status': 'pending'},
    {'client_id': 1035226417, 'name': 'Наталія', 'balance': 27000, 'loan_status': 'approved'}
]
bank_clients2 = [
    {'client_id': 1035568425, 'name': 'Альберт', 'balance': 35000, 'loan_status': 'approved'},

]

def task_10(bank_clients, bank_clients2):
    df = pd.DataFrame(bank_clients)
    bank_clients2 = pd.DataFrame(bank_clients2)
    df = pd.concat([df, bank_clients2], ignore_index=True)
    return df
    # return dataframe


print(task_10(bank_clients, bank_clients2))

    client_id     name  balance loan_status
0  1035226412     Юрій    15000    approved
1  1035226413   Лариса    25000     pending
2  1035226414     Ігор    20000    approved
3  1035226415    Олена    18000    rejected
4  1035226416   Микола    22000     pending
5  1035226417  Наталія    27000    approved
6  1035568425  Альберт    35000    approved

In [12]:
#11 Створіть функцію, яка приймає список словників, створює DataFrame, видаляє рядок з даними клієнта "Аліна", і повертає оновлений DataFrame.

membership_data = [
    {'member_id': 101, 'name': 'Олег', 'membership_type': 'Gold', 'fee_paid': True},
    {'member_id': 102, 'name': 'Юлія', 'membership_type': 'Silver', 'fee_paid': False},
    {'member_id': 103, 'name': 'Аліна', 'membership_type': 'Platinum', 'fee_paid': True},
    {'member_id': 104, 'name': 'Оксана', 'membership_type': 'Gold', 'fee_paid': True},
    {'member_id': 105, 'name': 'Денис', 'membership_type': 'Silver', 'fee_paid': False},
    {'member_id': 106, 'name': 'Аліна', 'membership_type': 'Platinum', 'fee_paid': True}
]

def task_11(membership_data):
    df = pd.DataFrame(membership_data)
    df = df[ df['name'] != 'Аліна']
    return df
    # return dataframe


print(task_11(membership_data))

   member_id    name membership_type  fee_paid
0        101    Олег            Gold      True
1        102    Юлія          Silver     False
3        104  Оксана            Gold      True
4        105   Денис          Silver     False

In [13]:
#12 Створіть функцію, яка приймає список словників, створює DataFrame, обчислює загальну суму балансу (balance), 
# середню суму позики (loan_amount), додає новий рядок net_balance, підраховує різницю між balance і loan_amount, 
# записує її в новий рядок net_balance та повертає оновлений DataFrame.

client_info = [
    {'client_id': 1035226412, 'name': 'Юрій', 'balance': 15000, 'loan_amount': 5000},
    {'client_id': 1035226413, 'name': 'Лариса', 'balance': 25000, 'loan_amount': 10000},
    {'client_id': 1035226414, 'name': 'Ігор', 'balance': 20000, 'loan_amount': 7000},
    {'client_id': 1035226415, 'name': 'Олена', 'balance': 18000, 'loan_amount': 8000},
    {'client_id': 1035226416, 'name': 'Микола', 'balance': 22000, 'loan_amount': 6000},
    {'client_id': 1035226417, 'name': 'Наталія', 'balance': 27000, 'loan_amount': 9000}
]


def task_12(client_info):
    df = pd.DataFrame(client_info)
    total_balance = df['balance'].sum()
    average_loan_amount = df['loan_amount'].mean()
    print(f"total balace: {total_balance}, average_loan_amount: {average_loan_amount} \n\n")
    df['net_balance'] = df['balance'] - df['loan_amount']
    return df
    # return dataframe


print(task_12(client_info))

total balace: 127000, average_loan_amount: 7500.0


    client_id     name  balance  loan_amount  net_balance
0  1035226412     Юрій    15000         5000        10000
1  1035226413   Лариса    25000        10000        15000
2  1035226414     Ігор    20000         7000        13000
3  1035226415    Олена    18000         8000        10000
4  1035226416   Микола    22000         6000        16000
5  1035226417  Наталія    27000         9000        18000

In [14]:
#13 Створіть функцію, яка приймає список словників, створює DataFrame, 
# групує дані за loan_status та обчислює середній баланс (balance) для кожної групи, 
# а також підраховує кількість клієнтів у кожній групі. Поверніть результати групування та агрегування.

clients_list = [
    {'client_id': 1035226412, 'name': 'Юрій', 'balance': 15000, 'loan_status': 'approved'},
    {'client_id': 1035226413, 'name': 'Лариса', 'balance': 25000, 'loan_status': 'pending'},
    {'client_id': 1035226414, 'name': 'Ігор', 'balance': 20000, 'loan_status': 'approved'},
    {'client_id': 1035226415, 'name': 'Олена', 'balance': 18000, 'loan_status': 'rejected'},
    {'client_id': 1035226416, 'name': 'Микола', 'balance': 22000, 'loan_status': 'pending'},
    {'client_id': 1035226417, 'name': 'Наталія', 'balance': 27000, 'loan_status': 'approved'}
]


def task_13(clients_list):
    df = pd.DataFrame(clients_list)
    grouped_df = df.groupby('loan_status').agg({'balance': ['mean', 'count']})
    return grouped_df

    # return dataframe



print(task_13(clients_list))

                  balance
                     mean count
loan_status
approved     20666.666667     3
pending      23500.000000     2
rejected     18000.000000     1

In [15]:
#14 Створіть функцію, яка приймає два списки словників, створює DataFrame для кожного з них, 
# з'єднує ці DataFrame за client_id і повертає результат з'єднання.

clients_data = [
    {'client_id': 1035226412, 'name': 'Юрій', 'balance': 15000},
    {'client_id': 1035226413, 'name': 'Лариса', 'balance': 25000},
    {'client_id': 1035226414, 'name': 'Ігор', 'balance': 20000},
    {'client_id': 1035226415, 'name': 'Олена', 'balance': 18000},
    {'client_id': 1035226420, 'name': 'Микола', 'balance': 22000},
    {'client_id': 1035226417, 'name': 'Наталія', 'balance': 27000}
]

transactions = [
    {'client_id': 1035226412, 'transaction_amount': 5000, 'transaction_type': 'debit'},
    {'client_id': 1035226413, 'transaction_amount': 7000, 'transaction_type': 'credit'},
    {'client_id': 1035226414, 'transaction_amount': 3000, 'transaction_type': 'debit'},
    {'client_id': 1035226415, 'transaction_amount': 10000, 'transaction_type': 'credit'},
    {'client_id': 1035226416, 'transaction_amount': 2000, 'transaction_type': 'debit'},
    {'client_id': 1035226417, 'transaction_amount': 1500, 'transaction_type': 'credit'}
]

def task_13(clients_data, transactions):
    df_clients_data = pd.DataFrame(clients_list)
    df_transactions = pd.DataFrame(transactions)
    df_merged = pd.merge(df_clients_data, df_transactions, on='client_id')
    return df_merged
    # return dataframe


print(task_13(clients_data, transactions))

    client_id     name  balance loan_status  transaction_amount  \
0  1035226412     Юрій    15000    approved                5000
1  1035226413   Лариса    25000     pending                7000
2  1035226414     Ігор    20000    approved                3000
3  1035226415    Олена    18000    rejected               10000
4  1035226416   Микола    22000     pending                2000
5  1035226417  Наталія    27000    approved                1500

  transaction_type
0            debit
1           credit
2            debit
3           credit
4            debit
5           credit

In [16]:
#15 Створіть функцію, яка приймає список словників, створює DataFrame, обробляє пропущені значення, заповнюючи їх заданими значеннями: 
# balance заповнюється значенням 0, loan_amount заповнюється значенням 0, name заповнюється значенням "Unknown".

bank_clients = [
    {'client_id': 1035226412, 'name': 'Юрій', 'balance': 15000, 'loan_amount': 5000},
    {'client_id': 1035226413, 'name': 'Лариса', 'balance': None, 'loan_amount': 10000},
    {'client_id': 1035226414, 'name': 'Ігор', 'balance': 20000, 'loan_amount': None},
    {'client_id': 1035226415, 'name': 'Олена', 'balance': 18000, 'loan_amount': 8000},
    {'client_id': 1035226416, 'name': None, 'balance': 22000, 'loan_amount': 6000},
    {'client_id': 1035226417, 'name': 'Наталія', 'balance': 27000, 'loan_amount': 9000}
]

def task_15(bank_clients):
    df = pd.DataFrame(bank_clients)
    df['balance'].fillna(0, inplace=True)
    df['loan_amount'].fillna(0, inplace=True)
    df['name'].fillna('Unknown', inplace=True)
    return df
    # return dataframe

print(task_15(bank_clients))

    client_id     name  balance  loan_amount
0  1035226412     Юрій  15000.0       5000.0
1  1035226413   Лариса      0.0      10000.0
2  1035226414     Ігор  20000.0          0.0
3  1035226415    Олена  18000.0       8000.0
4  1035226416  Unknown  22000.0       6000.0
5  1035226417  Наталія  27000.0       9000.0

/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3615/2418075662.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['balance'].fillna(0, inplace=True)
/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3615/2418075662.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_amount'].fillna(0, inplace=True)
/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3615/2418075662.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Unknown', inplace=True)

In [18]:
#16 Створіть функцію, яка приймає список словників, створює DataFrame,
#  застосовує функцію до кожного рядка для обчислення нового стовпця net_balance (різниця між balance і loan_amount)
#  та додає цей стовпець до DataFrame. Поверніть оновлений DataFrame.

clients_info = [
    {'client_id': 1035226412, 'name': 'Юрій', 'balance': 15000, 'loan_amount': 5000},
    {'client_id': 1035226413, 'name': 'Лариса', 'balance': 25000, 'loan_amount': 10000},
    {'client_id': 1035226414, 'name': 'Ігор', 'balance': 20000, 'loan_amount': 7000},
    {'client_id': 1035226415, 'name': 'Олена', 'balance': 18000, 'loan_amount': 8000},
    {'client_id': 1035226416, 'name': 'Микола', 'balance': 22000, 'loan_amount': 6000},
    {'client_id': 1035226417, 'name': 'Наталія', 'balance': 27000, 'loan_amount': 9000}
]

def calculate_net_balance(row):
    return row['balance'] - row['loan_amount']

def task_16(clients_info):
    df = pd.DataFrame(clients_info)
    df['net_balace'] = df.apply(calculate_net_balance, axis=1)
    return df
    # return dataframe


print(task_16(clients_info))

    client_id     name  balance  loan_amount  net_balace
0  1035226412     Юрій    15000         5000       10000
1  1035226413   Лариса    25000        10000       15000
2  1035226414     Ігор    20000         7000       13000
3  1035226415    Олена    18000         8000       10000
4  1035226416   Микола    22000         6000       16000
5  1035226417  Наталія    27000         9000       18000